.contact {
  padding: 100px 0px;
  @include max-width;
  @include breakpoints-down(medium) {
    padding: 50px 0px;
  }
  display: grid;
  grid-template-columns: 1fr 2fr;
  @include breakpoints-down(medium) {
    grid-template-columns: 1fr;
  }
  gap: 10px;
  &__left {
    > div {
      margin-bottom: 50px;
      p {
        &:nth-of-type(1) {
          font-size: 18px;
          letter-spacing: 5px;
        }
        &:nth-of-type(2) {
          color: #d8d8d8;
          font-size: 24px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: $button-color;
          }
        }
      }
      a {
        padding-top: 30px;
        .MuiSvgIcon-root {
          color: #d8d8d8;
          font-size: 42px;
          margin-right: 20px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: $button-color;
          }
        }
      }
    }
  }
  &__right {
    &__top {
      p {
        &:nth-of-type(1) {
          font-size: 18px;
          letter-spacing: 5px;
        }
        &:nth-of-type(2) {
          font-size: 60px;
          font-weight: 900;
          color: #286dec;
        }
      }
    }
    &__form {
      form {
        max-width: 700px;
        > div {
          display: flex;
          flex-direction: column;
          label {
            margin: 15px 0px 8px 10px;
            font-size: 14px;
            font-weight: 700;
          }
          input,
          textarea {
            min-height: 48px;
            margin-bottom: 24px;
            padding-left: 24px;
            border: 1px #000;
            background-color: #f7f5f5;
            color: #000;
            font-size: 14px;
            line-height: 17px;
          }
          textarea {
            padding-top: 20px;
          }
        }
        button {
          margin-top: 20px;
          @include button-basic();
        }
      }
    }
  }
}
